@media(max-width: 425px) {
  nav {
background-color: #2bbbad;
width: 100%;
max-height: 15vh;
margin-left: -10px;
margin-right: 0px;
padding: 9px;
margin-top: -9px;
color: white;
}
.logo{
  text-align: center;
  font-size: 36px;
  margin-top: 25px;
  font-weight: bold;
}
  h1 {
  text-align: center;
  }
  .agenda, .maps, .notes, .eventInfo{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    font-size: 24px;
    padding: 35px;
    margin: 10px;
    width: 25%;
  }
}
