<h4> Agenda </h4>
<div ng-controller = 'agendaCtrl'>
<div class ='speakerTile' ng-repeat = 's in speakers' ng-click=options()>
  <p class = 'agendaTime'><strong> {{s.time}}</strong></p>
  <p><strong>{{s.session}}</strong></p>

  <img ng-src='{{s.image}}'>
  <br>
  <p>{{s.name}}</p>

  <p>Room: {{s.location}}</p>
<div class = 'agendaOption'>
  <a href = '#!/notes' class="waves-effect waves-light btn"><i class="material-icons right">view_list</i>Take a Note</a>
  <a href = '#!/questvote' class="waves-effect waves-light btn"><i class="material-icons right">question_answer</i>Ask Question</a>
</div>
</div>
</div>
