<h4> Notes Page </h4>

<div class="notebook">
  <header></header>
  <span class="extraPages">
  <textarea id="page" cols="20" rows="50" placeholder="well...start note taking" ng-model = 'notes'></textarea>
  </span>
  <br>
  <footer class = "buttonSpace">
    <button class="seeNotes" title="see note">See Notes</button>
    <button class="createPage" title="progress">Create New</button>
    <button class="savePage" title="new page" ng-click = 'saveNote(notes)'>Save Note</button>
  </footer>
</div>
<div class="output">
</div>
<footer class="page">
</footer>
