<h4> Notes Page </h4>

<div class="notebook">
  <header></header>
  <span class="extraPages">
  <textarea id="page" cols="20" rows="50" placeholder="well...start note taking" ng-model = 'notes'></textarea>
  </span>
  <br>
  <footer class = "buttonSpace">
    <button class="seeNotes" title="see note" ng-click = 'getNotes(notes)'>See Notes</button>
    <!-- <button class="createPage" title="progress">Create New</button> -->
    <a class="waves-effect waves-light btn" ng-click='saveNote(notes)'><i class="material-icons right">mode_edit</i>Save Note</a>
    <button class="editPage" title="edit note" ng-click= 'editNote(notes)'>Edit Note</button>
  </footer>
</div>
