<div class = 'questiondesign'>
  <br>
<h5> Submit Questions Here </h5>
<br>

<div class= 'alignlist'>
<div class='questionsList' ng-repeat='question in questions track by $index'>
    <p>{{question.question}}</p>
    <a ng-click='plusOne(question)' class="btn-floating btn-small waves-effect waves-light blue">+ {{question.likes}}</a>

  </div>

</div>
<!-- <button type='button' id='showinquiry'>Ask a Question </button> -->
<br>
<div class='submitQuestion'>
    <input type='text' ng-model='question'>
    <button type='button' ng-click='addQuestion(question)'> Submit</button>
  </div>
</div>
